textarea {
    border: 1px solid #8a8a8a;
    background-color: transparent;
    font-size: 1rem;
    height: 100px;
    outline: none;
    padding: 10px;
    color: darkred;

    &:hover {
        border: 1px solid  darkred;
      }
}

.select-element {
    border: 1px solid #8a8a8a;
    font-size: 0.8rem;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: transparent;
    outline: none;
    color: darkred;
}